@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap");
/* font-family: 'Poppins', sans-serif; */

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
ul,
ol,
a,
p {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Container padrão */
.container {
  width: 60rem;
  margin: 0 auto;
  box-sizing: border-box;
}
/* Deixa o item do menu ativo */
.active {
  color: #26748f !important;
}
/* Botões */
.button_light {
  width: 12.5rem;
  height: 2.8rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;

  color: #fff;
  border: 0.125rem solid #fff;
  border-radius: 0.3125rem;

  transition: background linear 0.4s;
}
.button_light:hover {
  background-color: #fff;
  color: #37a5ca;

  transition: background linear 0.4s;
}
.button_dark {
  width: 100%;
  max-width: 12.5rem;
  height: 2.8rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;

  background-color: #164352;
  color: #fff;

  border-radius: 0.3125rem;
  transition: background linear 0.4s;
}
.button_dark:hover {
  background: none;
  border: 0.125rem solid #164352;
  color: #164352;

  transition: background linear 0.4s;
}

.button_close {
  border: 0;
  background: none;
  color: #26748f;
  font-size: 1.25rem;

  outline: 0 !important;
  border: none !important;
}

/* ------------------------------------------ */
/* Items menu mobile  */
.item_menu {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  color: #26748f;
  transition: linear 0.2s;
}
.item_menu:hover {
  color: #26748f;
  transition: linear 0.2s;
}
/* ---------------------------------------------------------- */
/* Traço em cima do título */

.trace_light:before {
  display: block;
  content: "";
  width: 5rem;
  height: 0.1875rem;
  margin-bottom: 0.3125rem;

  background-color: #fff;
}
.trace_dark:before {
  display: block;
  content: "";
  width: 5rem;
  height: 0.1875rem;
  margin-bottom: 0.3125rem;

  background-color: #164352;
}
/* ------------------------------------------------------------------------------------- */

header {
  width: 100%;
  height: 5rem;
  padding: 0 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
}
.container_header {
  width: 60rem;
  margin: 0 auto;
  box-sizing: border-box;
}

header .container_header nav .list div ul {
  display: flex;
}
header .container_header nav .list div ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  padding: 0.625rem;

  color: #0009;
  transition: linear 0.2s;
}
header .container_header nav .list div ul li:last-child a {
  padding-right: 0;
}
header .container_header nav .list div ul li a:hover {
  color: #26748f;
  transition: linear 0.2s;
}

/* ------------------------- */

.banner_content {
  width: 100%;
  height: 25rem;
  padding: 0 1.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  background-image: url("../img/Banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner_content article {
  width: 37.5rem;
}
.banner_content article h1 {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.125rem;
  padding: 1.25rem 0;

  color: #fff;
}
.banner_content article h1::before {
  margin-bottom: 1.25rem;
}
/* --------------------------------------------------- */

.wallet {
  width: 100%;
  height: 25rem;
  padding: 0 1.25rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wallet .wallet-content {
  width: 52.5rem;
  height: 15.625rem;

  display: flex;
  position: relative;
  box-shadow: 0rem 0rem 0.8333rem rgba(0, 0, 0, 0.2);
}

.wallet .wallet-content li {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wallet .wallet-content li:first-child {
  padding: 0 0.9375rem;
}
.wallet .wallet-content li h3 {
  font-weight: 400;
  font-size: 1.75rem;
  color: #164352;
}
.wallet .wallet-content li p {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #000;

  padding: 0.625rem 0;
}
.wallet .wallet-content li img {
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------ */
.schedule {
  width: 100%;
  height: 31.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 1.25rem;

  background-image: url("../img/bg_agendamento.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.schedule h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #fff;

  margin-bottom: 1.25rem;
}
.schedule ul {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.schedule ul li {
  width: 18.75rem;
  height: 21.875rem;
  padding: 1.875rem 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 1.166rem 0;
}
.schedule ul li:nth-child(2) {
  margin: 0 0.9375rem;
}
.schedule ul li h4 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #000;

  padding-bottom: 1.25rem;
}
.schedule ul li article {
  display: flex;
  flex-direction: column;
}
.schedule ul li p {
  font-size: 0.875rem;
  font-weight: lighter;

  color: #164352;
}
.schedule ul li:first-child p:first-child {
  margin-bottom: 1.25rem;
}
.schedule ul li p span {
  color: #28a3cb;
}
/* ---------------------- */
.utility {
  width: 100%;
  height: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 1.25rem;
}
.utility h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #164352;

  margin-bottom: 1.25rem;
}

.utility ul {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.utility ul li {
  width: 60rem;
  height: 16.25rem;
  padding: 1.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.2);
}
.utility ul li article {
  padding-right: 1.25rem;
}
.utility ul li article h4 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #164352;

  padding-bottom: 1.25rem;
}
.utility ul li article p {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
/* ------------------------ */
.services {
  width: 100%;
  height: 28.125rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 1.25rem;
}

.services h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #164352;

  margin-bottom: 1.25rem;
}
.services ul {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.services ul li {
  width: 13.75rem;
  height: 20rem;
  padding: 1.875rem 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.3);
  transition: transform linear 0.2s;
}
.services ul li:nth-child(2) {
  margin: 0 0.625rem 0 1.25rem;
}
.services ul li:nth-child(3) {
  margin: 0 1.25rem 0 0.652rem;
}
.services ul li:hover {
  transition: transform linear 0.2s;
  transform: scale(1.1, 1.1);
}
.services ul li h4 {
  font-weight: 400;
  font-size: 1.125rem;
  color: #28a3cb;
}
.services ul li div {
  width: 35%;
  height: 20%;

  position: relative;
}
.services ul li div img {
  width: 100%;
  height: 100%;
}
.services ul li p {
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
}
.services ul li p span {
  color: #28a3cb;
}
/* ---------------------------- */
.who_we_are {
  position: relative;
  width: 100%;
  height: 25rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin: 1.875rem 0 9.375rem;
  padding: 0 1.25rem;
  background-color: #147bb2;
}

.who_we_are h3 {
  font-weight: 400;
  font-size: 1.75rem;
  color: #fff;

  margin-top: 3.75rem;
}
.who_we_are ul {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.who_we_are li {
  width: 37.5rem;
  height: 18.75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 2.5rem;
  margin-top: 1.875rem;

  background-color: #fff;
  box-shadow: 0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.2);
}
.who_we_are ul li p {
  font-size: 1rem;
  font-weight: 400;
}
.who_we_are ul li p:nth-child(2) {
  margin-top: 1.25rem;
}
/* ---------------------------------------- */

.contact {
  width: 100%;
  height: 28.125rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0 1.25rem;
  margin-bottom: 4.375rem;
}
.contact ul {
  width: 58.75rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact ul li {
  width: 50%;
  height: 28rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 3.125rem;

  border-radius: 0.4375rem 0 0 0.4375rem;
  background-color: #ebebeb;
}
.contact ul li:nth-child(2) {
  background: #fff;
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.3);
  border-radius: 0 0.4375rem 0.4375rem 0;

  padding: 1.25rem;
}
.contact ul li h3 {
  font-weight: 400;
  font-size: 1.75rem;
  color: #164352;
}
.contact ul li p {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}
.contact ul li div {
  display: flex;
  flex-direction: row;
}
.contact ul li div:nth-child(even) a:nth-child(2) {
  padding: 0 0.625rem;
}
.contact ul li div:nth-child(odd) {
  display: flex;
  flex-direction: column;
}
.contact ul li div:nth-child(odd) a {
  font-weight: 400;
  font-size: 1rem;
  color: #4e4e4e;
  transition: color linear 0.1s;
}
.contact ul li div:nth-child(odd) a:hover {
  color: #28a3cb;
  transition: color linear 0.1s;
}
/* form */

.contact ul li form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contact ul li form div.align_input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact ul li form div.align_input:nth-child(1) {
  margin-right: 0.3125rem;
}
.contact ul li form div.align_input:nth-child(2) {
  margin-left: 0.3125rem;
}
.contact ul li form div.align_input_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.contact ul li form label {
  font-weight: 400;
  font-size: 1rem;
  color: #4e4e4e;
}
.contact ul li form label span {
  color: #f00;
}

.contact ul li form input,
select,
textarea {
  width: 100%;
  height: 2.8125rem;

  padding: 0.3125rem 0.9375rem;

  background-color: rgba(208, 213, 217, 0.3);
  border-radius: 0.3125rem;
  border: 1px solid #d0d5d9;

  font-weight: 400;
  font-size: 1rem;
  color: #4e4e4e;

  resize: none;
  outline: none;
}
.contact ul li form button {
  outline: 0;
  cursor: pointer;
  border: none;
  margin-top: 0.9375rem;
}
/* ------------------------------------------- */
footer {
  width: 100%;
}
footer .content_footer {
  width: 100%;
  height: 19.375rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #147bb2;
  padding: 0 1.25rem;
  border-bottom: 1px solid#5FB7D5;
}
footer .content_footer ul {
  position: relative;
  width: 58.75rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .content_footer ul li {
  width: 50%;
  height: 15.625rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.9375rem;
}
footer .content_footer ul li h3 {
  text-align: center;
  border-bottom: 1px solid#5FB7D5;
}
footer .content_footer ul li h3 i {
  font-weight: 300;
  font-size: 1.75rem;
  color: #fff;
}

footer .content_footer ul li p i {
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

footer .content_footer ul li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .content_footer ul li div a i {
  display: block;
  width: 7.5rem;

  margin-bottom: 0.625rem;

  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  border-bottom: 1px solid#5FB7D5;
  transition: transform linear 0.2s;
}
footer .content_footer ul li div a i:hover {
  transition: transform linear 0.1s;
  transform: scale(1.1, 1.1);
}
footer .copy {
  width: 100%;
  height: 3.75rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #147bb2;
}

footer .copy p {
  font-weight: 100;
  color: #fff;
  font-size: 1.125rem;
}
/* ---------------------------------------------- */

.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.modal-content-full-width {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}
